body {
    background-color: #228664;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    max-width: 800px;
    margin: auto;
}
.cabecalho {
    padding:20px 0 ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.cabecalho figure img {
    width: 100%;
    max-width: 140px;
}

.cabecalho .container {
    display: flex;
    align-items: center;
}

.cabecalho .cabecalho__logoPicpro {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    margin-right: 15px;
}

.secaoDetalhesConta {
    color: #fff;
    padding: 60px 0 30px;
}

.secaoDetalhesConta__sobreUsuario {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.secaoDetalhesConta__sobreUsuario p {
    font-size: 18px;
    margin-left: 15px;
}
.secaoDetalhesConta__sobreUsuario p strong {
    display: block;
    font-weight: bold;
}
.secaoDetalhesConta__sobreUsuario img {
    max-width: 50px;
}
.secaoDetalhesConta__sobreUsuario-.-nome {
    display: flex;
    align-items: center;
}
.secaoDetalhesConta__sobreUsuario-.-icones img {
    margin-left: 50px;
    width: 100%;
    max-width: 40px;
}
.secaoDetalhesConta__sobreSaldo {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.secaoDetalhesConta__sobreSaldo p {
    font-size: 18px;
    line-height: 25px;
}
.secaoDetalhesConta__sobreSaldo-.-valor {
    display: flex;
    align-items: center;
}
.secaoDetalhesConta__sobreSaldo- p {
    font-weight: bold;
}
.secaoDetalhesConta__sobreSaldo-.-valor img{
    margin-left: 5px;
    max-height: 21px;
}
.secaoDetalhesConta__sobreSaldo button {
    background-color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    padding: 15px 80px;
    border-radius: 10px;
    cursor: pointer;
}
.secaoDetalhesConta__opcoesTransacoes {
    display: flex;
    justify-content: space-between;
}
.secaoDetalhesConta__opcoesTransacoes li{
    background-color: #1F6F54;
    width: 145px;
    height: 150px;
    padding: 40px 0px 0px 25px;
    border-radius: 20px;
    
}
.secaoDetalhesConta__opcoesTransacoes img {
    width: 100%;
    max-width: 40px;
}
.secaoDetalhesConta__opcoesTransacoes li p{
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    line-height: 25px;
    width: 80px;
}
.secaoTransacao{
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    border-bottom: 15px solid #bdbdbd;
    padding: 30px 0;
    height: 420px;
    cursor: pointer;
}
.secaoTransacao .container div {
    display: none;
}
.secaoTransacao .container div.mostrar{
    display: flex;
}
.secaoTransacao__avisoSelecao {
    flex-direction: column;
}
.secaoTransacao__avisoSelecao p{
    font-size: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 30px 60px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-weight: bold;
}
.secaoTransacao__avisoSelecao img{
    margin: 30px 0 90px;
    width: 100%;
}
.secaoTransacao__qrCode{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secaoTransacao__qrCode p{
    font-weight: bold;
    margin: 15px 0 60px;
}
.secaoTransacao__qrCode button{
    border: none;
    font-size: 18px;
    color: #fff;
    background-color: #1F6F54;
    height: 60px;
    width: 500px;
    border-radius: 10px;
    cursor: pointer;
}
.secaoTransacao__qrCode a{
    margin: 30px 0 90px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}
.secaoTransacao__pix {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.secaoTransacao__pix img{
    margin: 0 0 40px;
}
.secaoTransacao__boxOpcao_1, 
.secaoTransacao__boxOpcao_2, 
.secaoTransacao__boxOpcao_3{
    display: flex;
    margin: 10px 0;
    border:1px solid #bdbdbd;
    border-radius: 10px;
    width: 460px;
    align-items: center;
    line-height: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.secaoTransacao__boxOpcao_1 img, 
.secaoTransacao__boxOpcao_2 img, 
.secaoTransacao__boxOpcao_3 img{
    width: 100%;
    max-width: 75px;
    margin: 15px 15px;
}
.secaoTransacao__boxOpcao_1 p, 
.secaoTransacao__boxOpcao_2 p,
.secaoTransacao__boxOpcao_3 p{
    font-size: 16px;
    padding-right: 23px;
}
.secaoTransacao__boxOpcao_1 p{
    padding-right: 50px;
}
.secaoTransacao__boxOpcao_3 p strong{
    font-weight: bold;
    display: block;
}
.secaoTransacao__boleto {
    margin: 60px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 120px;
}
.secaoTransacao__boleto img {
    width: 100%;
    max-width: 80px;
}
.secaoTransacao__boleto h2{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
}
.secaoTransacao__boleto p{
    margin: 0 0 30px;
    font-size: 18px;
}
.secaoTransacao__boleto input {
    border: 1px solid #D2D2D2;
    background-color: #F4F4F4;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 550px;
    height: 50px;
    padding: 0 50px;
    color: #000;
}
.secaoTransacao__cobrar {
    margin: 60px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 120px;
}
.secaoTransacao__cobrar img {
    width: 100%;
    max-width: 60px;
    padding: 0 11px 0;
}
.secaoTransacao__cobrar h2{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
}
.secaoTransacao__cobrar p{
    margin: 20px 0 20px;
    font-size: 18px;
    line-height: 23px;
}
.rodape {
    background-color: #fff;
}
.rodade__menuPrincipal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rodade__menuItem {
    text-align: center;

}
.rodade__menuItem a{
    text-decoration: none;
    
}
.rodade__menuItem img{
    width: 100%;
    max-width: 40px;
}
.rodade__menuItem p{

    color: #424242;
    text-decoration: solid;
    margin: 15px 0 15px 0;
}
li.rodade__menuItem.rodade__menuItem--pagar {
    transform: translate(0px, -25px);
}
.rodade__menuPrincipal .rodade__menuItem--pagar a img {
    max-width: 80px;
}
.secaoDetalhesConta__itemTransacao:hover{
    background-color: #fff;
    color: #1F6F54;
}
.secaoDetalhesConta__itemTransacao figure {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 40px;
    width: 40px;
}
.secaoDetalhesConta__itemTransacao--qrcode figure {
    background-image: url("../img/qrcode.png");
}
.secaoDetalhesConta__itemTransacao--qrcode:hover figure{
    background-image: url("../img/qrcode-verde.png");
}
.secaoDetalhesConta__itemTransacao--pix figure {
    background-image: url("../img/pix.png");
}
.secaoDetalhesConta__itemTransacao--pix:hover figure {
    background-image: url("../img/pix-verde.png");
}
.secaoDetalhesConta__itemTransacao--boleto figure {
    background-image: url("../img/boleto-branco.png");
    height: 31px;
}
.secaoDetalhesConta__itemTransacao--boleto:hover figure {
    background-image: url("../img/boleto-verde.png");
}
.secaoDetalhesConta__itemTransacao--cobrar figure {
    background-image: url("../img/cobrar-icon.png");
    height: 33px;
}
.secaoDetalhesConta__itemTransacao--cobrar:hover figure {
    background-image: url("../img/cobrar-verde.png");
}
.secaoDetalhesConta__itemTransacao figure img{
    opacity: 0%;
}
